# Binaries for programs and plugins & temporary files
*.exe
*~
*.dll
*.so
*.dylib
*.log
*.tmp
*.zip
# Test binary, build with `go test -c`
*.test
main
plan_cuentas_mid

# Variables de Entorno
*.env
!.develop.env
!.template.env

# Others
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
#Bee api
.DS_Store
WebIM/WebIM
shorturl/shorturl
todo/todo
lastupdate.*
.vscode
.scannerwork
swagger/**
!swagger/swagger.json
!swagger/swagger.yml
